* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --primary: hsla(220, 3%, 23%, 0.2);
    --secondary: hsla(246, 42%, 35%, 0.4);
}

body {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    background-position: center;
    background-size: cover;
}

.main {
    min-height: 100vh;
    width: 100%;
    position: relative;
}


/*Navigation*/

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
}

.nav_logo {
    font-size: 80px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -15px;
    color: rgb(36, 33, 33);
    margin-top: -30px;
    margin-left: -20px;
}

.nav_logo:hover {
    transition: 0.3s ease;
    color: hsla(246, 42%, 35%);
}

.nav_links {
    text-align: right;
}

.nav_links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 0;
}

.nav_links ul li a {
    color: rgb(17, 15, 15);
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.nav_links ul li a:hover {
    color: aliceblue;
    transition: 0.2s ease;
}

.nav_links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.2s ease;
}

.nav_links ul li:hover::after {
    width: 100%;
    color: aliceblue;
}

.menu_stuff {
    align-items: center;
    justify-content: center;
}

.menu_stuff .search_bar {
    width: 400px;
    background: hsl(208, 100%, 97%, 0.5);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
}

.search_bar input {
    background: transparent;
    outline: none;
    flex: 1;
    border: 0;
    padding: 8px 4px;
    font-size: 18px;
    color: black;
}

.search_bar button .bxs-search-alt-2 {
    width: 30px;
    font-size: 18px;
}

.search_bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.home_container {
    display: flex;
    flex-direction: row;
}

/*Home screen*/
.home_container .filter {
    width: 200px;
    margin: 20px;
    height: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: var(--primary);
}

.home_container .filter h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0.1em;
}

.home_container .filter select {
    padding: 5px;
}

.home_container .filter form {
    padding: 5px;
}

.home_container .filter form label {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0.1em;
}

.home_container .filter .price_filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 85%;
}

.home_container .filter .price_filter .tb_price_filter {
    width: 50px;
    height: 25px;
}

.hse_details {
    margin: 10px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    background: var(--primary);
    padding: 10px;
}

.hse_details .hse {
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
    padding: 2px 3px;
    margin: 10px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hse label {
    display: flex;
    margin-bottom: 5px;
}

.hse a {
    padding: 10px;
    margin: 5px;
    background: hsl(224, 97%, 48%);
    border-radius: 5px;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.hse a:hover {
    letter-spacing: 0.25em;
    background: hsl(209, 100%, 50%);
    color: aliceblue;
    box-shadow: 0 0 30px hsl(240, 100%, 14%);
    transition: 0.3s ease-in-out;
}

.hse_details .hse img {
    position: relative;
    width: 100%;
}

.hse_details .hse span[class='location'] {
    color: rgb(90, 90, 90);
}

/*Footer*/

.footer {
    padding: 5px 30px;
    color: black;
    display: flex;
    background: linear-gradient(150deg, var(--primary), var(--secondary));
}

.footer div {
    text-align: center;
    padding-bottom: 10px;
}

.useful_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.useful_links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    display: flex;
}

.useful_links a:hover {
    color: #fff;
    background: linear-gradient(rgb(40, 50, 70), hsla(246, 42%, 35%));
    display: block;
    border-radius: 5px;
    transition: 0.2s ease;
    height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    padding: 10px 10px;
}