header{
    display: inline-block;
    width: 100%;
}

.navbar{
    display: flex;
    /* align-items: right; */
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 10%;
    transition: 1s;

}
.navbar li{
    list-style-type: none;
    display: inline-block;
    padding: 60px;
    
     
}
.navbar li a{
    color: rgb(18, 12, 12);
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover{
    color: rgba(250, 253, 250, 0.581);
    transition: 1s
}



.icon i{
    padding: 10px 20px;
  
}

.navbar ul li a:hover{
    color: rgba(251, 242, 242, 0.581);
    transition: 1s
}

.navbar:hover{
    background-color:rgba(124, 151, 184, 0.284);
}

.logo{
    height: 200px;
    width: 200px;;
}
.logoImg {    
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    margin-left: 0;
    position: relative;
    left: 30px;
    width: 200px

} 