@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height:100vh;
    padding: 50px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0, 76, 130, 0.501),rgba(0, 30, 130, 0.474)), url(../images/skyscrapers-450793.jpg);
    background-size: cover;
    opacity: 0.9;

    
}
.contact .content{
    max-width: 800px;
    text-align:center;
}
.contact .content h2{
    font-size: 36px;
    font-weight:500;
    color:#fff;
}
.contact .content p{
    font-weight:300;
    color:#fff;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction:column;
}

.container .contactInfo .box{
    position:relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 65px;
    /* background:#fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    font-size:22px;
    padding: 10px;
}
.container .contactInfo .box .text{
    
    margin-left: 20px;
    font: size 16px;
    color:#fff;
    flex-direction: colum;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#00bcd4;
}
.contactform{
    width: 70%;
    padding:40px;
    background: #fff;
}
.contactform h2{
    font-size:30px;
    color:#333;
    font-weight: 500;
}
.contactform .inputBox{
    position:relative;
    width: 400px;
    margin-top:10px;
}
.contactform .inputBox input{
    width:400px;
    padding:5px 0;
    font-size: 16px;
    margin:10px 0;
    border: none;
    border-bottom:2px solid #333 ;
    outline:none;
    resize: none;
}
.contactform .inputBox span{
    position:abosulte;
    left:0;
    padding:5px,0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBoxinput:focus ~ span,
.contactform .inputBoxinput:valid ~ span
.contactform .inputBoxinput:focus ~ span,
.contactform .inputBoxinput:valid ~ span{
    color: #e91e63;
    font: size 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]
{
    width: 400px;
    background:#00bcd4;
    color:#fff;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding:50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo {
        width: 100%;
    }
}