@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
}

.container{
    max-width:1170px;
    margin:auto;
}
.row{
    display:flex;
    flex-wrap: wrap;

}

ul{
    list-style-type:none;
}
.footer{
    background-color:#24262b;
    width: 100%;
    padding: 1em;
}
.footer-col{
    width:20%;
    padding:0 15px;

}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:500 ;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 13px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight:300;
    color:block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: white;
}

@media  (max-width: 767px){
    .footer-col{
        width: 40px;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    
}

/* chat area */
.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;

}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;

}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px, 30px, 20px, 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 /5%),
        inset 0 -32px 32px -32px rgb(0 0 0 /5%);


}

.chat-box .chat {
    margin: 15px 0;
    margin-top: 15px;

}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 /8%),
        inset 0 16px 16px -16px rgb(0 0 0 /10%);
}

.chat-box .outgoing {
    display: flex;

}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
    padding-right: 16px;
}

.outgoing .details p {
    background: #0000FF;
    color: #fff;
    border-radius: 18px 18px 0 18px;

}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
    margin-left: 16px;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;

}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);

}

.incoming .details p {
    background: #fff;
    border-radius: 18px 18px 18px 0;


}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;

}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: #ccc 1px solid;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;

}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 19px;

}