
.home_container {
    width: 100%;
    min-height: 120vh;
    background: rgba(103, 126, 252, 0.5);
    margin-bottom: 0;
}
.home_container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    padding: 5px;
}
.home_container .parent {
    display:grid;
    grid-template-columns: 1fr 0.8fr;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0;
    justify-content: center;
    min-height: 60vh;
}
.home_container .parent .image_container{
    display: flex;
    justify-items: center;
    align-content: center;
    margin: 5px;
}

.home_container .parent .hse_information b{
    text-transform: uppercase;
}
.home_container .parent .hse_information p{
    padding: 10px;
}

.home_container .parent .hse_information .btnss a {
    background: rgb(58, 58, 94, 0.4);
    border-radius: 5px;
    padding: 8px;
    margin: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 300ms ease;
}

.home_container .parent .hse_information .btnss button {
    background: rgb(58, 58, 94, 0.4);
    border-radius: 5px;
    padding: 8px;
    margin: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 300ms ease;
}


.home_container .parent .hse_information .btnss a:hover {
    font-size: 20px;
    background: rgb(58, 58, 94);
    color: aliceblue;
}

.home_container .parent .hse_information .btnss  button:hover {
    font-size: 20px;
    background: rgb(58, 58, 94);
    color: aliceblue;
}


.home_container .suggested_properties {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    margin-top: 0;
    background: rgba(120, 120, 246, 0.5);
}

.home_container .suggested_properties .sugg_heading {
    display: flex;
    margin: 2rem;
    align-self: center;
    justify-content: center;

}

.home_container .suggested_properties .sugg_heading label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid black;
    letter-spacing: 0.1rem;
}

.home_container .suggested_properties .detailss {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
}

.home_container .suggested_properties .detailss .morestuff {
    margin: 1rem;
    padding: 1rem;
}

.home_container .suggested_properties .detailss .morestuff .the_img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home_container .suggested_properties .detailss .morestuff .more_hse_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(103, 126, 252, 0.5);
    border-radius: 5px;
}

.home_container .suggested_properties .detailss .morestuff .more_hse_info a {
    background: rgb(58, 58, 94, 0.4);
    border-radius: 5px;
    padding: 5px;
    margin: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 300ms ease;
}

.home_container .suggested_properties .detailss .morestuff .more_hse_info a:hover {
    font-size: 20px;
    background: rgb(58, 58, 94);
    color: aliceblue;
}