
/*Home Screen*/
.home_container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    margin-top: 3.5%;
    position: relative;
    outline: medium none;
    min-height: 150vh;
    padding: 20px;
}

.home_container .image_container {
    margin-left: 2%;
    width: 35%;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image_container img {
    position: relative;
    width: 100%;
}

.home_container .hse_information {
    margin-left: 2%;
    background-color: none;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.hse_information .txtbox {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin-bottom: 10px;

}

.hse_information form input:hover {
    background: aliceblue;
    color: black;
    box-shadow: 0 0 30px hsl(208, 100%, 97%, 0.7);
}

.hse_information .txtarea {
    border-radius: 5px;
    border: none;
    width: 95%;
}

textarea {
    resize: none;
}

.hse_information form textarea:hover {
    background: aliceblue;
    color: black;
    box-shadow: 0 0 30px hsl(208, 100%, 97%, 0.7);
}

.hse_information .btnss {
    width: 100%;
    padding: 10px;
}

.hse_information .btnss button {
    width: 30%;
    border: none;
    background: hsl(0, 3%, 18%);
    color: aliceblue;
    border-radius: 15px;
    padding: 8px 5px;
    text-transform: uppercase;
}

.home_container .suggested_properties {
    background: hsl(0, 2%, 16%, 0.2);
    width: 26%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: first-baseline;
}

.suggested_properties .sugg_heading {
    padding: 10px;
    font-weight: 500;
}

.suggested_properties .more_hse {
    padding: 10px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    width: 80%;
}

.more_hse .the_img {
    display: flex;
    height: 95%;
    width: 78%;
}


.more_hse .more_hse_info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 95%;
    width: 22%;
}

.more_hse .more_hse_info a {
    border: none;
    background: rgb(90, 98, 105);
    color: black;
    border-radius: 15px;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}

.more_hse .more_hse_info a:hover {
    letter-spacing: 0.25em;
    background: hsl(240, 47%, 58%);
    color: aliceblue;
    box-shadow: 0 0 30px hsl(240, 23%, 58%);
    transition: 0.3s ease-in-out;
}

.more_hse .more_hse_info label {
    font-weight: 500;
    padding: 4px;
}
