* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --primary: hsla(220, 3%, 23%, 0.2);
    --secondary: hsla(246, 42%, 35%, 0.4);
}

body {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}


/*Navigation*/

.nav {
    display: flex;
    width: 100%;
    position: fixed;
    height: 10%;
    padding: 20px;
    background-color: #24262b;
    justify-content: space-between;
    z-index: 99;
}

.nav_logo {
    font-size: 80px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -15px;
    color: rgb(36, 33, 33);
    margin-top: -30px;
    margin-left: -20px;
}

.nav_logo img {
    width: 30%;
}

.nav_links {
    margin-right: 2%;
}

.nav_links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 0;
}

.nav_links ul li a {
    color: rgb(17, 15, 15);
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.nav_links ul li a:hover {
    color: aliceblue;
    transition: 0.2s ease;
}

.nav_links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.2s ease;
}

.nav_links ul li:hover::after {
    width: 100%;
    color: aliceblue;
}

/*Home Screen*/
.home_container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    margin-top: 8%;
    position: relative;
    outline: medium none;
    min-height: 100vh;
}

.home_container .image_container {
    margin-left: 2%;

    width: 35%;

    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image_container img {
    position: relative;
    width: 100%;
}

.home_container .hse_information {
    margin-left: 2%;
    background-color: none;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.hse_information .txtbox {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin-bottom: 10px;

}

.hse_information form input:hover {
    background: aliceblue;
    color: black;
    box-shadow: 0 0 30px hsl(208, 100%, 97%, 0.7);
}

.hse_information .txtarea {
    border-radius: 5px;
    border: none;
    width: 95%;
}

textarea {
    resize: none;
}

.hse_information form textarea:hover {
    background: aliceblue;
    color: black;
    box-shadow: 0 0 30px hsl(208, 100%, 97%, 0.7);
}

.hse_information .btnss {
    width: 100%;
    padding: 10px;
}

.hse_information .btnss button {
    width: 30%;
    border: none;
    background: hsl(0, 3%, 18%);
    color: aliceblue;
    border-radius: 15px;
    padding: 8px 5px;
    text-transform: uppercase;
}

.home_container .suggested_properties {
    background: hsl(0, 2%, 16%, 0.2);
    width: 26%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: first-baseline;
}

.suggested_properties .sugg_heading {
    padding: 10px;
    font-weight: 500;
}

.suggested_properties .more_hse {
    padding: 10px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    width: 80%;
}

.more_hse .the_img {
    display: flex;
    height: 95%;
    width: 78%;
}


.more_hse .more_hse_info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 95%;
    width: 22%;
}

.more_hse .more_hse_info a {
    border: none;
    background: rgb(90, 98, 105);
    color: black;
    border-radius: 15px;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}

.more_hse .more_hse_info a:hover {
    letter-spacing: 0.25em;
    background: hsl(240, 47%, 58%);
    color: aliceblue;
    box-shadow: 0 0 30px hsl(240, 23%, 58%);
    transition: 0.3s ease-in-out;
}

.more_hse .more_hse_info label {
    font-weight: 500;
    padding: 4px;
}

/*Footer*/
.footer {
    background-color: #24262b;
    padding: 30px;
    height: 10%;
    width: 100%;
}

.container {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h2 {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;

}

.footer-col ul li a {
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    color: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 13%;
    width: 13%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}

@media (max-width: 767px) {
    .footer-col {
        width: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

}