.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-container01 {
    width: 200px;
    height: 819px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #202b9b;
  }
  .home-container02 {
    width: 200px;
    height: 263px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-button {
    width: 200px;
    height: 48px;
    background-color: rgb(67, 107, 199);
  }
  .home-button01 {
    width: 200px;
    height: 48px;
  }
  .home-button02 {
    width: 200px;
    height: 48px;
  }
  .home-container03 {
    width: 200px;
    height: 239px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-button03 {
    width: 200px;
    height: 48px;
  }
  .home-button04 {
    width: 200px;
    height: 48px;
  }
  .home-button05 {
    width: 200px;
    height: 48px;
  }
  .home-container04 {
    width: 200px;
    height: 329px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-button06 {
    width: 200px;
    height: 48px;
  }
  .home-button07 {
    width: 200px;
    height: 48px;
  }
  .home-button08 {
    width: 200px;
    height: 48px;
  }
  .home-button09 {
    width: 200px;
    height: 48px;
  }
  .home-container05 {
    flex: 0 0 auto;
    width: 1129px;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container06 {
    width: 1161px;
    height: 814px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text {
    top: -3px;
    left: 294px;
    position: absolute;
  }
  .home-container07 {
    top: 75px;
    left: 0px;
    width: 1161px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    background-color: #78b7c8;
  }
  .home-text05 {
    top: 55px;
    left: 371px;
    position: absolute;
  }
  .home-image {
    left: 20px;
    width: 185px;
    bottom: 0px;
    height: 100%;
    position: absolute;
    align-self: center;
    object-fit: cover;
  }
  .home-container08 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100px;
    display: flex;
    align-items: flex-start;
  }
  .home-container09 {
    top: 316px;
    left: -1px;
    width: 1161px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    background-color: #78B7C8;
  }
  .home-image1 {
    top: 30px;
    left: 50px;
    width: 159px;
    height: 138px;
    position: absolute;
    object-fit: cover;
  }
  .home-text10 {
    top: 7px;
    left: 378px;
    position: absolute;
  }
  .home-container10 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 100px;
    display: flex;
    align-items: flex-start;
  }
  .home-container11 {
    right: -1px;
    width: 1161px;
    bottom: 52px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    background-color: #78B7C8;
  }
  .home-image2 {
    top: 30px;
    left: 50px;
    width: 160px;
    height: 140px;
    position: absolute;
    object-fit: cover;
  }
  .home-text15 {
    top: 0px;
    left: 382px;
    position: absolute;
  }